.bold {
  font-family: "DIN-Bold";
}
.medium {
  font-family: "DIN-Medium";
}
.regular {
  font-family: "DIN-Regular";
}
body {
  font-family: "DIN-Regular";
  color: #333333;
  font-size: 11px;
}
a {
  color: #666666;
  text-decoration: none;
}
#page {
  margin: 0 auto;
  position: relative;
}
h1 {
  color: #de265a;
  margin: 0 0 0.5em 0;
  font-family: "DIN-Bold";
}
h2 {
  margin-bottom: 0.6em;
}
table {
  page-break-inside: auto;
}
tr {
  page-break-inside: avoid;
  page-break-after: auto;
}
td.money {
  text-align: right;
}
td.number {
  text-align: center;
}
dl {
  margin: 0;
}
dt {
  float: left;
  font-family: "DIN-Bold";
  height: 1.5em;
}
dd {
  text-indent: 0.5em;
  height: 1.5em;
}
span.currency {
  font-family: Arial, "arial", "sans serif";
  color: #666666;
  margin-left: 0.2em;
  font-size: 0.9em;
}
h1 {
  text-align: center;
  margin-bottom: 1cm;
}
#livraison,
#commande {
  width: 7cm;
  float: left;
  padding: 0 0.5cm 0.5cm 0.5cm;
}
#client {
  margin-left: 0.5cm;
  padding: 0;
}
#product {
  float: left;
  width: 7cm;
  height: 10cm;
  background: #cccccc;
  border-radius: 0.5em;
  padding: 0 0.5cm;
  margin-right: 0.5cm;
}
#lignes {
  width: 100%;
}
#lignes td {
  padding: 0.15cm 0 0.1cm 0;
  border-bottom: 0.028cm #cccccc solid;
}
#lignes th {
  background: #de265a;
  padding: 0.15cm 0 0.1cm 0;
  color: white;
}
#montants {
  float: right;
  width: 5cm;
  margin-top: 0.3cm;
}
#montants td {
  padding: 0.15cm 0 0.1cm 0;
  border-bottom: 0.028cm #cccccc solid;
  border-top: 0.028cm #cccccc solid;
}
#montants td:first-child {
  background: #de265a;
  padding: 0.15cm 0 0.1cm 0;
  color: white;
}
#montants th {
  background: #de265a;
  padding: 0.15cm 0 0.1cm 0;
  color: white;
}
#mentions {
  margin-top: 1cm;
}
hr {
  clear: both;
  visibility: hidden;
}
