{% extends "resources/invoice-zip.twig" %}

{% block header %}
    <div style="text-align: right; font-size: 20px; margin-bottom: 1cm; color: #999999;">
        <span style="font-size: 24px;">EXAPRINT</span><br />
        <small>La imprenta exprés reservada a los profesionales de las artes gráficas</small>
    </div>
{% endblock %}

{% block footer %}
    <div style="padding-top: 1cm; margin: auto;">
        RIERA DE VALLVIDRERA, 17 - POL. IND. RIERA DEL MOLÍ - 08750 MOLINS DE REI - BARCELONA<br /><br />

        <span style="font-size: 14px;">wwww.exaprint.es</span> / IMPRIM'VERT®<br />
        ISO 9001, BUREAU VERITAS Certification<br />
        ISO 12647-2, ISO 14001, BUREAU VERITAS Certification<br />
        FABRICACIÓN ESPAÑOLA / SERVICO AL CLIENTE 100% ESPAÑOL<br /><br />

        EXAPRINT IBERIA S.L |
        SL. DE CAPITAL DE 150.000 € |
        NIF B65312209 |
        CNAE 4741 |
        REGISTRO MERCANTIL DE BARCELONA / TOMO 41936 / FOLIO 83 / HOJA B 396227 / INSCRIPCIÓN 1
    </div>
{% endblock %}