{% extends "resources/invoice-zip.twig" %}

{% block header %}
    <div style="font-size: 20px; margin-bottom: 1cm; color: #999999;">
        <span style="font-size: 24px;">EXAPRINT</span>
    </div>
{% endblock %}

{% block footer %}
    <div style="padding-top: 1cm; margin: auto;">
        <table style="margin: auto">
            <tr>
                <td style="padding-right: 1cm;">
                    <span style="font-size: 14px;">EXAPRINT</span><br />
                    <small>INSPIRE YOUR CLIENT</small>
                </td>
                <td style="padding-right: 1cm;">
                    Tel: 0203 475 7475<br />
                    3rd floor, 86 - 90 Paul Street, London, EC2A 4NE<br />
                    www.exaprint.co.uk
                </td>
                <td>
                    Exaprint London Ltd, registered in<br />
                    England and Wales, number 8300319<br />
                    Registered Office address:<br />
                    82 St John Street, London, EC1M 4JN
                </td>
            </tr>
        </table>
    </div>
{% endblock %}