{% extends "resources/invoice-zip.twig" %}

{% block header %}
    <div style="text-align: right; font-size: 20px; margin-bottom: 1cm; color: #999999;">
        <span style="font-size: 24px;">EXAPRINT</span>
    </div>
{% endblock %}

{% block footer %}
    <div style="padding-top: 1cm; margin: auto;">
        <table style="margin: auto">
            <tr>
                <td style="padding-right: 1cm;">
                    <span style="font-size: 14px;">EXAPRINT</span><br />
                    <small>Des idées à revendre !</small>
                </td>
                <td style="padding-left: 1cm;">
                    Accueil téléphonique de 8h30 à 18h30 : 04 67 22 36 55<br />
                    ZAC de Fréjorgues Ouest - Rue Charles Nungesser<br />
                    34135 Mauguio / Montpellier - www.exaprint.fr
                </td>
            </tr>
        </table><br />

        <small>PEFC 10-32-2667 / Cette entreprise a fait certifier sa chaîne de contrôle / pefc-france.org</small><br /><br />

        SAS au capital de 40000€ |
        Siret 42284379700032 |
        N°TVA FR32422843797 |
        CODE APE 1812Z
    </div>
{% endblock %}