{% extends "resources/invoice-zip.twig" %}

{% block header %}
    <div style="font-size: 20px; margin-bottom: 1cm; color: #999999;">
        <span style="font-size: 24px;">EXAPRINT</span><br />
        <small>A gráfica express reservada aos profissionais das artes gráficas</small>
    </div>
{% endblock %}

{% block footer %}
    <div style="padding-top: 1cm; margin: auto;">
        Atendimento telefónico non-stop de 8h às 17h : 808 50 80 20<br />
        POL. INDUSTRIAL RIERA DEL MOLÍ - RIERA DE VALLVIDRERA, 17 - 08750 MOLINS DE REI BARCELONA<br /><br />

        <span style="font-size: 14px;">wwww.exaprint.pt</span> / IMPRIM'VERT®<br />
        ISO 9001, BUREAU VERITAS Certification<br />
        ISO 14001, BUREAU VERITAS Certification<br />
        SERVIÇO DE ATENÇÃO AO CLIENTE 100% PORTUGUÊS
    </div>
{% endblock %}