{% extends "resources/invoice-zip.twig" %}

{% block header %}
    <div style="text-align: right; font-size: 20px; margin-bottom: 1cm; color: #999999;">
        <span style="font-size: 24px;">EXAPRINT</span><br />
        Il Partner riservato ai Professionisti delle Arti Grafiche
    </div>
{% endblock %}

{% block footer %}
    <div style="padding-top: 1cm; margin: auto;">
        <b>EXAPRINT s.r.l - via Guido Rossa, 16 - 10024 Moncalieri (TO) - Tel. +39 011 062 68 06 - Fax +39 011 062 68 86 - amministrazione@exaprint.it - www.exaprint.it<br />
        Capitale Sociale 100.000,00 euro i.v. - P.IVA IT 10778680016 - R.E.A. n° 1161146</b>
    </div>
{% endblock %}