{% extends "resources/include/invoice.twig" %}

{% block type %}
    <div class="type">
        {% if InvoicingType == 2 %}
            Non imponibile art. 8 lett. a) DPR 633/72<br />
            Operazione non soggetta
        {% elseif InvoicingType == 3 %}
            Non imponibile art. 41 DL 331/93<br />
            Inversione contabile
        {% endif %}
    </div>
{% endblock %}