{% extends "resources/order-receipt.twig" %}

{% block mentions %}
    <p>{{ ("Conditions generales"|trans)|replace({
        '%link1%': '<a href="product@exaprint.co.uk">product@exaprint.co.uk</a>',
        '%link2%': '<a href="http://www.exaprint.co.uk/page/terms-and-conditions">http://www.exaprint.co.uk/page/terms-and-conditions</a>'
    }) }}</p>
{% endblock %}