{% extends "resources/order-receipt.twig" %}

{% block mentions %}
    <p>{{ ("Conditions generales"|trans)|replace({
        '%link1%': '<a href="ordini@exaprint.it">ordini@exaprint.it</a>',
        '%link2%': '<a href="http://www.exapass.it/page/cgv">http://www.exapass.it/page/cgv</a>'
    }) }}</p>
{% endblock %}