{% extends "resources/order-receipt.twig" %}

{% block stickersrollers %}
    {% if product.estStickersRollers %}
        <div>Votre code promo de remboursement : <strong>STICKERROLLS</strong> <em>(applicable sur toute commande d'un produit de la gamme étiquettes sur-mesure)</em>.<div>
    {% endif %}
{% endblock %}

{% block mentions %}
    <p>{{ ("Conditions generales"|trans)|replace({
        '%link1%': '<a href="commande@exaprint.fr">commande@exaprint.fr</a>',
        '%link2%': '<a href="http://www.exaprint.fr/page/conditions-generales-de-vente">http://www.exaprint.fr/page/conditions-generales-de-vente</a>'
    })|raw }}</p>
{% endblock %}