<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block links %}{% endblock %}
    </head>
    <body>
        <div id="page">
            {% block page %}{% endblock %}
        </div>
    </body>
</html>
