<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="http://genpdf.exaprint.fr/static/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="http://genpdf.exaprint.fr/static/css/fonts.css"/>
    <link rel="stylesheet" type="text/css" href="http://genpdf.exaprint.fr/static/css/invoice.css"/>
</head>
<body>
<div id="page">
    <div id="customer">
        <h1>Facture</h1>
        <dl class="details">
            <dt>Code Client</dt>
            <dd>{{ Customer.CustomerCode }}</dd>
            <dt>N° TVA Intracom.</dt>
            <dd>{{ Customer.VATId }}</dd>
        </dl>
        <address>
            <strong>{{ Customer.CompanyName }}</strong><br/>
            {{ Customer.Adress1 }}<br/>
            {% if (Customer.Adress2 != '') %}
            {{ Customer.Adress2 }}<br/>
            {% endif %}
            {{ Customer.PostalCode }} {{ Customer.City }}<br/>
            {{ Customer.Country }}
        </address>
    </div>
    <div id="main">
        <h1>{{ Title }}</h1>

        <h2>{{ Reference }}</h2>
        <dl>
            <dt>Numéro</dt>
            <dd>{{ InvoiceNumber }}</dd>
            <dt>Date</dt>
            <dd>{{ InvoiceDate }}</dd>
        </dl>
        <div id="order">
            <table>
                <thead>
                <tr>
                    <th>Désignation</th>
                    <th>Quantité</th>
                    <th>Montant H.T.</th>
                </tr>
                </thead>
                <tbody>

                {% for i, Line in InvoiceLine %}

                <tr class="order">
                    <td>
                        <article>
                            <span class="units"></span>
                            {{ InvoiceLine[i].Title}} {{ Line.Reference }}
                            <span class="code">
                                {{ Line.ArticleFamily }}
                                {{ Line.ProductFamily }}
                                {{ Line.ProductFrontTitle }}
                            </span>
                        </article>
                        <!--
                        Livraison

                        <ul class="tracking">
                            <li>
                                <span class="transporter">TNT</span>
                                <a href="http://www.tnt.fr/public/suivi_colis/recherche/visubontransport.do?radiochoixrecherche=BT&amp;bonTransport=3511061024848673"
                                   class="number">
                                    6311061024782201
                                </a>
                            </li>
                            <li>
                                <span class="transporter">TNT</span>
                                <a href="http://www.tnt.fr/public/suivi_colis/recherche/visubontransport.do?radiochoixrecherche=BT&amp;bonTransport=3511061024848673"
                                   class="number">
                                    3511061024848673
                                </a>
                            </li>
                        </ul>
                        -->
                    </td>
                    <td class="quantity">{{ Line.Quantity }} {{ Line.Initials }}</td>
                    <td class="money">{{ Line.ETAmount|number_format(2, ',', ' ') }}
                        <span class="currency">&euro;</span>
                    </td>
                </tr>
                <!--
                <tr class="fee">
                    <td>Remise commerciale 16%</td>
                    <td class="quantity">1</td>
                    <td class="money">&minus; 16,96<span class="currency">&euro;</span></td>
                    <td class="money">&minus; 16,96<span class="currency">&euro;</span></td>
                </tr>
                -->
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if Donations %}
        <div id="donations">
            <h3>Donations</h3>
            <dl>
            {% for i, Donation in Donations.Donation %}
                <dt>{{ Donation.DonationName }}</dt>
                <dd>{{ Donation.ATIAmount|number_format(2, ',', ' ') }}<span class="currency">&euro;</span></dd>
            {% endfor %}
            </dl>
        </div>
        {% endif %}
        <div id="summary">
            <dl>
                {% for i, Vat in VAT.VATRates %}
                {% if Vat.Rate > 0 %}
                <dt>Montant total soumis à la TVA {{Vat.Rate|number_format(2, ',', ' ')}} %</dt>
                <dd>{{Vat.ETAmount|number_format(2, ',', ' ')}}<span class="currency">&euro;</span></dd>
                <dt>Montant TVA</dt>
                <dd>{{Vat.VATAmount|number_format(2, ',', ' ')}}<span class="currency">&euro;</span></dd>
                {% else %}
                <dt>Montant total non soumis à la TVA</dt>
                <dd>{{Vat.ETAmount|number_format(2, ',', ' ')}}<span class="currency">&euro;</span></dd>
                {% endif %}
                {% endfor %}
                <dt>Montant TTC</dt>
                <dd><strong>{{ATIAmount|number_format(2, ',', ' ')}}<span class="currency">&euro;</span></strong></dd>
            </dl>
        </div>
    </div>
    <footer>

    </footer>
</div>
</body>
</html>