<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="http://genpdf.exaprint.fr/static/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="http://genpdf.exaprint.fr/static/css/fonts.css"/>
    <link rel="stylesheet" type="text/css" href="http://genpdf.exaprint.fr/static/css/invoice.css"/>
</head>
<body>
{% include "resources/include/supplier-invoice.twig" %}
</body>
</html>